body {
  margin: 0;
  background-image: url(images/site-bg.jpg);
  width: fit-content;
}
.header {
  /* border: 1px solid black; */
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: url(images/mainNav_large_bg_tile.png);
  position: sticky;
  top: 0;
  width: 1805px;
}
#LOGO-main {
  /* display: flex; */

  width: 280px;
  height: 100px;
  /* padding-top: 20px; */
}

.header-left {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 20px;
  color: white;
  padding-right: 200px;
  font-size: x-large;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.scale:hover {
  box-shadow: 0px 0px 25px, inset 2px 2px 10px;
  transform: scale(1.05);
  cursor: pointer;
}

.play-free #free {
  background: url(images/main_CTA_sprite_EN_green_navLarge.png);
}

.play-free #free:hover {
  box-shadow: 0 0 25px,
    inset 0 0 10px rgb(rgb(231, 231, 231), rgb(255, 255, 255), rgb(2, 2, 221));
  transform: scale(1.05);
  cursor: pointer;
}
#free {
  width: 360px;
  height: 85px;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-left: 50px;
  font-size: 30px;
  font-family: "Franklin Gothic Medium";
  gap: 20px;
}
.play-free .play-free-ring {
  background-image: url(images/main_CTA_ring.png);

  width: 35px;
  height: 30px;
}

.fb .socials {
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fb .socials:hover {
  color: #1873eb;
  cursor: pointer;
}
.yt .socials {
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yt .socials:hover {
  color: red;
  cursor: pointer;
}
.X .socials {
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.X .socials:hover {
  color: white;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.twitch .socials {
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.twitch .socials:hover {
  color: #8c44f7;
  cursor: pointer;
}

.discord .socials {
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discord .socials:hover {
  color: #5562ea;
  cursor: pointer;
}

/* HEADER ENDS */

.Hero {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.Filter-bar {
  display: flex;
  justify-content: center;
  padding: 20px;

  position: sticky;
  top: 80px;
}
.lists {
  display: flex;
  gap: 30px;
  color: rgb(239, 239, 239);
}

.watch:hover,
.news:hover,
.guides:hover,
.notes:hover,
.ALL:hover {
  color: #f1e38e;
  cursor: pointer;
}

/* CARDS */

.main-container {
  display: flex;
  justify-content: center;
  padding: 40px;

  align-items: center;
  gap: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  gap: 60px;
}
.card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 420px;
  background: url(https://i.pinimg.com/564x/56/38/6d/56386d8c2744d3cf1d406260916ea3f7.jpg);
  border-radius: 14px;
  background-size: contain;
  background-position: bottom;
}

#card-pic {
  width: 300px;
  border-radius: 12px;
}
.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.main-text h2 {
  padding-left: 4px;
}
.main-text h3 {
  padding: 12px;
  padding-left: 26px;
  font-size: 13px;
  margin-left: 24px;
  margin-right: 24px;
  font-size: medium;
}
.main-text .button {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}

.footer .share {
  display: flex;
  justify-content: center;
  padding-top: 2px;
}
.footer .button2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  justify-content: space-between;
  padding-bottom: 36px;
}
.button-style .btn-hover:hover {
  background: rgb(160, 106, 40);
  cursor: pointer;
}
.btn-hover {
  border-radius: 12px;
}
.btn-read {
  border-radius: 8px;
}
.button .btn-read:hover {
  background-color: rgb(57, 33, 4);
  color: white;
  cursor: pointer;
}

.main-text3 h2 {
  padding-left: 36px;
}
.main-text3 h3 {
  padding: 12px;
  padding-left: 26px;
  font-size: 13px;
  margin-left: 24px;
  margin-right: 24px;
  font-size: medium;
}
.main-text3 .button {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
#main-txt2 {
  margin-top: 6px;
}
/* cards ending */

/* BOTTOM START */

.bottom-footer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}

.Legal {
  display: flex;
  justify-content: center;
  color: rgb(167, 167, 167);
  gap: 12px;
  height: 60px;
  padding: 20px;
}
.Legal ul {
  border-left: 1px solid;
  padding-left: 14px;
  height: 30px;
}
ul:first-child {
  border-left: none;
}

.bottom-imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.Legal-N:hover,
.Privacy:hover,
.Terms:hover,
.Warning:hover,
.Cookies:hover,
.Preferences:hover,
.Conduct:hover,
.Agreement:hover {
  color: #f1e38e;
  cursor: pointer;
}

.bottom-txt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  color: white;
  font-size: smaller;
}
.bottom-txt h4 {
  width: 700px;
  padding: 12px;
}

/* MEDIA Q */

/* @media screen and (max-width: 1280px) {
  .header-right {
    display: none;
  } */
/* .Harad {
    width: ;
    padding-left: 40px;
  }
  .container{
    padding-left: 40px;
  }
  .Filter-bar {
    display: flex;
    justify-content: center;
    padding-left: 20px;
  }

  .header {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }

  .header-left {
    padding-left: 80px;
  }

  .bottom-txt h4 {
    padding-left: 10px;
  }
  .option-lng {
    padding-right: 0;
    padding-left: 10px;
  }
  .Legal ul {
    padding: 20px;
  }
  .bottom-imgs ul {
    padding: 10px;
  }
  .bottom-imgs .ssg-logo {
    padding-left: 100px;
    padding-right: 0;
  }
}
@media screen and (max-width: 1200px) {
  .header-left {
    display: none;
  }

  .harad {
    display: none;
  }
  .Legal ul {
    padding: 20px;
  }
  .bottom-imgs ul {
    padding: 10px;
  }
  .bottom-imgs .ssg-logo {
    padding-left: 80px;
    padding-right: 0;
  }
}
@media screen and (max-width: 992px) {
  .Legal {
    padding-right: 0;
    padding-left: 0;
  }
  .Legal ul {
    padding: 10px;
  }
  .bottom-imgs .ssg-logo {
    padding-right: 10px;
    padding-left: 60px;
  }
}
@media screen and (max-width: 600px){
.container {
 display:grid ;
 height: 3000px;
 grid-template-columns:1fr;
 grid-template-rows: repeat(6, 1fr);
gap: 30px;  */
