.card-container {

    display: flex;
    gap:20px
}

.card {
    /* border: 1px solid black; */
    width: 300px; height:fit-content;
    border-radius: 24px;
    padding-top: 24px;
    box-shadow: 0px 0px 16px 5px rgb(162, 161, 161);
    text-align: center;
    padding-bottom: 0px;
}


.product_image {
    width: 250px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.rating {
    width: 30px;

}

.buy-button {
    border: none;
    width: 100%;
    font-size: 18px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 12px;
    margin-top: 16px;
    color: white;

}

.blue-bt {
    background-color: #291BC4;
}

.red-bt {
    background-color:#E10018;
}

.green-bt {
    background-color:#A8E067;
}